<div class="toolbar" role="banner">
  <img width="40" alt="Booker Logo" src="../assets/icon_i.png" />
  <span>Booker</span>
  <div class="spacer"></div>
  <img width="30" alt="Booker Logo" src="../assets/search_white.svg" />
</div>

<div class="content" role="main">
  <div class="container-fluid py-4">
    <div class="card-group">
      <div class="card" style="width: 18rem" *ngFor="let e of events">
        <img [src]="e.img" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ e.name }}</h5>
          <p class="card-text">
            {{ e.desc }}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button mat-raised-button color="primary">Buy ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
